/* Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}
.dark{
    background: #111;
    color: #fff;
}
/*Header*/
.upperNav{
    display: grid;
    grid-template-columns: 1fr 6fr 1.4fr;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-bar{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    column-gap: 8px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
}
.login, .signup, #modeBtn{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 7px;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #333;
    color: #fff;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    cursor: pointer;
}

/*Hero*/
.hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #007bff;
    /*background-color: linear-gradient(to right, #007bff, #00c6ff);*/
    color:white;
}
.hero h1{
    font-size: 3rem;
}

/*Services Section*/
.notes{
    padding: 50px;;
    text-align: center;
}
.notes h2{
    margin-bottom: 20px;
}
.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    box-sizing: border-box;
    background: white;
    padding: 10px;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
/*Contact Section*/
.contact{
    padding: 50px;
    text-align: center;
}
input, textarea{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#des{
    align-items: center;
    display:flex;
    justify-content: center;
    
}
button{
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

/*Responsive*/
@media(max-width: 768px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
}

/* Footer Section*/
.footer{
    padding: 96px;
    background: #333;
    color: #ccc;
}
.foot-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.foot-container div h3{
    height: 24px;
    display: block;
    color: white;
    margin-bottom: 1rem;
}
.main-footer-div, .learn-footer-div, .social-footer-div, .legal-footer-div, .support-footer-div{
    display: flex;
    flex-direction: column;
    a{
        height: 24px;
        display: block;
    }
}
.end-footer-div{
    display: block;
    line-height: 1.25rem;
    margin-top: 2rem;
    text-align: center;
}