/*-------------------- Body ----------------------- */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: var(--font-main);
    background: #f0f0f5;
    color: var(--text-primary);
    transition: background 0.3s, color 0.3s;
}

.dark {
    background: var(--bg-darkmode);
    color: var(--color-darkmode);
}

.search-toggle-btn {
    display: none;
}
/* Mobile Search Bar */
.mobile-search-bar {
    display: none;
}