@media (max-width: 1024px) {

    /* ------- Responsive of upperNav  ----- */
    /* .upperNav-center { max-width: 200px; } */
    /* Mobile Search toggle  */
    
    /*Login : sirf icon */
    .btn-login .login-text { display: none; }
    .btn-login {
        width: 36px;
        padding: 0;
        justify-content: center;
    }
    .btn-login::before {
        font-family: "tabler-icons";
        content: "\eb7b"; /* yi-login */
        font-size: 18px;
    }
    /* signUp : sirf icon*/
    .btn-signup .signup-text { display: none; }
    .btn-signup {
        padding: 0 10px;
    }
    /* ------- Responsive of upperNav end HERE ----- */


    /* ------- Responsive of lowerNav  ----- */
    .lowerNav-buttons {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        scrollbar-width: none;  /* Firefox */
    }
    .lowerNav-buttons::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, and Opera */
    }
    .lowerNav-buttons .nav-btn {
        flex-shrink: 0;
    }
}

@media (max-width: 1024px) {
    .prev-btn {
        left: -8px;
    }
    .next-btn {
        right: -8px;
    }
}

 /* --- ye sirf footer ko responsive bana rha hai in tablet ---- */
@media (max-width: 1024px) {
    .foot-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}